In [ ]:
Question-1

import pandas as pd

In [ ]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep = "|")
users

In [ ]:
users.groupby("occupation").age.mean()

In [ ]:
users.rename(columns={"sex":"gender"}, inplace=True)

In [ ]:
genders = users.groupby("occupation")["gender"].value_counts(normalize=True)*100
genders.head()

In [ ]:
gendersn = pd.DataFrame(genders)
gendersn.rename(columns={"gender":"percent"}, inplace=True)
gendersn.head()

In [ ]:
new_gen = pd.DataFrame(gendersn.reset_index(level=["occupation", "gender"]))
new_gen.head()

In [ ]:
males = new_gen[new_gen["gender"] == "M"].sort_values(by="percent",ascending=False)
males

In [ ]:
users.groupby("occupation").age.agg([min, max])

In [ ]:
users.groupby(["occupation", "gender"]).age.mean()

In [ ]:
new_gen

In [ ]:
Question -2

In [ ]:
import pandas as pd

In [ ]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep=',')
euro12

In [ ]:
euro12.Goals

In [ ]:
euro12.shape[0]

In [ ]:
euro12.info()

In [ ]:
# filter only giving the column names

discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline

In [ ]:
discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

In [ ]:
round(discipline['Yellow Cards'].mean())

In [ ]:
euro12[euro12.Goals > 6]

In [ ]:
euro12[euro12.Team.str.startswith('G')]

In [ ]:
# use .iloc to slices via the position of the passed integers
# : means all, 0:7 means from 0 to 7

euro12.iloc[: , 0:7]

In [ ]:
# use negative to exclude the last 3 columns

euro12.iloc[: , :-3]

In [ ]:
# .loc is another way to slice, using the labels of the columns and indexes

euro12.loc[euro12.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]

In [ ]:
Question-3

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

print(s1, s2, s3)

In [ ]:
housemkt = pd.concat([s1, s2, s3], axis=1)
housemkt.head()

In [ ]:
housemkt.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
housemkt.head()

In [ ]:
# join concat the values
bigcolumn = pd.concat([s1, s2, s3], axis=0)

# it is still a Series, so we need to transform it to a DataFrame
bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))

bigcolumn

In [ ]:
# no the index are kept but the length of the DataFrame is 300
len(bigcolumn)

In [ ]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

In [ ]:
Question-4

In [ ]:
import pandas as pd
import datetime

In [ ]:
# parse_dates gets 0, 1, 2 columns and parses them as the index
data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
data = pd.read_csv(data_url, sep = "\s+", parse_dates = [[0,1,2]]) 
data.head()

In [ ]:
# The problem is that the dates are 2061 and so on...

# function that uses datetime
def fix_century(x):
  year = x.year - 100 if x.year > 1989 else x.year
  return datetime.date(year, x.month, x.day)

# apply the function fix_century on the column and replace the values to the right ones
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

# data.info()
data.head()

In [ ]:
# transform Yr_Mo_Dy it to date type datetime64
data["Yr_Mo_Dy"] = pd.to_datetime(data["Yr_Mo_Dy"])

# set 'Yr_Mo_Dy' as the index
data = data.set_index('Yr_Mo_Dy')

data.head()
# data.info()

In [ ]:
# "Number of non-missing values for each location: "
data.isnull().sum()

In [ ]:
#number of columns minus the number of missing values for each location
data.shape[0] - data.isnull().sum()

#or

data.notnull().sum()

In [ ]:
data.sum().sum() / data.notna().sum().sum()

In [ ]:
data.describe(percentiles=[])

In [ ]:
# create the dataframe
day_stats = pd.DataFrame()

# this time we determine axis equals to one so it gets each row.
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

day_stats.head()

In [ ]:
data.loc[data.index.month == 1].mean()

In [ ]:
data.groupby(data.index.to_period('A')).mean()

In [ ]:
data.groupby(data.index.to_period('M')).mean()

In [ ]:
data.groupby(data.index.to_period('W')).mean()

In [ ]:
# resample data to 'W' week and use the functions
weekly = data.resample('W').agg(['min','max','mean','std'])

# slice it for the first 52 weeks and locations
weekly.loc[weekly.index[1:53], "RPT":"MAL"] .head(10)

In [ ]:
Question-5

In [ ]:
import pandas as pd

In [ ]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [ ]:
chipo.head(10)

In [ ]:
chipo.shape[0]

In [ ]:
chipo.info()

In [ ]:
chipo.shape[1]

In [ ]:
chipo.columns.values

In [ ]:
chipo.index

In [ ]:
chipo.groupby(['item_name']).quantity.sum().sort_values(ascending = False).index[0]

In [ ]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

In [ ]:
chipo.groupby(['item_name']).quantity.sum().sort_values(ascending = False).values[0]

In [ ]:
chipo.groupby('item_name').sum().sort_values(['quantity'], ascending=False).head(1)

In [ ]:
chipo.groupby(['choice_description']).quantity.sum().sort_values(ascending = False).index[0]

In [ ]:
chipo.groupby('choice_description').sum().sort_values(['quantity'], ascending=False).head(1)

In [ ]:
chipo.quantity.sum()

In [ ]:
chipo.dtypes.item_price

In [ ]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

In [ ]:
chipo.item_price.dtypes

In [ ]:
chipo['revenue'] = chipo['quantity']*chipo.item_price
total_revenue = chipo.revenue.sum()
total_revenue

In [ ]:
total_order = chipo.order_id.nunique()
total_order

In [ ]:
chipo.order_id.value_counts().count()

In [ ]:
total_revenue / total_order

In [ ]:
# Solution 1
#chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

In [ ]:
# Solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

In [ ]:
chipo.item_name.nunique()

In [ ]:
chipo.item_name.value_counts().count()

In [ ]:
Question-6

In [ ]:
import pandas as pd

us_marriage_divorce_data = pd.read_csv('data/us-marriages-divorces-1867-2014.csv')
years = us_marriage_divorce_data['Year'].values
marriages_per_capita = us_marriage_divorce_data['Marriages_per_1000'].values
divorces_per_capita = us_marriage_divorce_data['Divorces_per_1000'].values

In [ ]:
Question-7

In [ ]:
import pandas as pd

us_marriage_divorce_data = pd.read_csv('data/us-marriages-divorces-1867-2014.csv')
us_marriage_divorce_data = us_marriage_divorce_data[
    us_marriage_divorce_data['Year'].apply(lambda x: x in [1900, 1950, 2000])]

years = us_marriage_divorce_data['Year'].values
marriages_per_capita = us_marriage_divorce_data['Marriages_per_1000'].values
divorces_per_capita = us_marriage_divorce_data['Divorces_per_1000'].values

In [ ]:
Question-8

In [ ]:
import pandas as pd

hollywood_actor_kills = pd.read_csv('data/actor_kill_counts.csv')
hollywood_actor_kills

In [ ]:
import pandas as pd

hollywood_actor_kills = pd.read_csv('data/actor_kill_counts.csv')
actor_names = hollywood_actor_kills['Actor'].values
kill_counts = hollywood_actor_kills['Count'].values

In [ ]:
Question-9

In [ ]:
import pandas as pd

roman_emperors = pd.read_csv('data/roman-emperor-reigns.csv')
assassinated_emperors = roman_emperors[
    roman_emperors['Cause_of_Death'].apply(lambda x: 'assassinated' in x.lower())]

number_assassinated = len(assassinated_emperors)
other_deaths = len(roman_emperors) - number_assassinated

In [ ]:
Question-10

In [ ]:
import pandas as pd

arcade_revenue_cs_doctorates = pd.read_csv('data/arcade-revenue-vs-cs-doctorates.csv')
arcade_revenue = arcade_revenue_cs_doctorates['Total Arcade Revenue (billions)'].values
cs_doctorates_awarded = arcade_revenue_cs_doctorates[
    'Computer Science Doctorates Awarded (US)'].values